.work {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
.work .img {
  width: 100%;
  height: 500px;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  -webkit-box-shadow: 0px 20px 35px -30px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 0px 20px 35px -30px rgba(0, 0, 0, 0.26);
  box-shadow: 0px 20px 35px -30px rgba(0, 0, 0, 0.26);
  z-index: 0;
  background-size: cover;
  background-repeat: no-repeat;
}
.work .img:before {
  content: "";

  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.work .img:after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  z-index: -1;
  background: rgba(255, 93, 177, 0);
  background: -moz-linear-gradient(
    top,
    rgba(255, 93, 177, 0) 0%,
    rgba(148, 54, 103, 0) 42%,
    black 100%
  );
  background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(0%, rgba(255, 93, 177, 0)),
    color-stop(42%, rgba(148, 54, 103, 0)),
    color-stop(100%, black)
  );
  background: -webkit-linear-gradient(
    top,
    rgba(255, 93, 177, 0) 0%,
    rgba(148, 54, 103, 0) 42%,
    black 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(255, 93, 177, 0) 0%,
    rgba(148, 54, 103, 0) 42%,
    black 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(255, 93, 177, 0) 0%,
    rgba(148, 54, 103, 0) 42%,
    black 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(255, 93, 177, 0)),
    color-stop(42%, rgba(148, 54, 103, 0)),
    to(black)
  );
  background: linear-gradient(
    to bottom,
    rgba(255, 93, 177, 0) 0%,
    rgba(148, 54, 103, 0) 42%,
    black 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5db1', endColorstr='#000000', GradientType=0 );
  opacity: 0.6;
  background-size: cover;
  background-repeat: no-repeat;
}
.work .text {
  padding: 35px;
  padding-top: 0;
}
.work .text h3 {
  font-size: 26px;
  font-weight: 200;
  font-family: "Playfair Display", serif;
  margin-bottom: 0;
}
.work .text h3 a {
  color: #fff;
}
.work .text .cat {
  font-size: 12px;
  color: #2e5392;
  font-weight: 800;
  background: rgba(255, 255, 255, 0.9);
  padding: 1px 8px;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  margin-bottom: 5px;
}

.slick-dots li button:before {
  color: #eedfdf;
}

.slick-dots li.slick-active button:before {
  color: rgb(255, 255, 255);
}

.slick-slide div {
  margin-right: 20px;
}

.slick-next {
  right: 38px;
}
.slick-prev {
  z-index: 1;
  left: -1px;
}

@media all and (max-width: 620px) {
  .work .img {
    background-size: cover;
    background-repeat: no-repeat;
  }
  .slick-slide div {
    margin-right: 0 !important;
  }
  .slick-next {
    right: 2px;
  }
}
