.schedule {
  background: var(--dark-color);
}

.schedule-table {
  display: block;
  border: 0;
  text-align: center;
}

.schedule-table strong,
.schedule-table span {
  display: block;
  text-align: center;
}

.schedule-table strong {
  color: var(--white-color);
}

.schedule-table span {
  color: var(--gray-color);
}

.schedule-table span,
.schedule-table small {
  font-size: var(--menu-font-size);
  text-transform: uppercase;
}

.schedule-table small {
  position: relative;
  top: 10px;
}

.table .thead-light th,
.schedule-table tr td:first-child {
  background: var(--primary-color);
  border: 1px solid #6c757d;
  color: var(--white-color);
}

.schedule-table .thead-light th {
  border-bottom: 0;
  text-transform: uppercase;
}

.table-bordered td,
.table-bordered th {
  border: 1px solid #6c757d;
}

.table-bordered td {
  padding-bottom: 22px;
}

.table td,
.table th {
  padding: 1rem;
}

@media all and (max-width: 767px) {
  .table {
    display: table;
    width: 100%;
  }
  .table th {
    display: none;
  }
  .table tbody tr {
    display: block;
  }
  .table tbody td {
    flex-basis: 100%;
  }
  .table tbody td {
    display: flex;
    padding: 10px 0;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 100%;
  }
  .table tbody td:before {
    color: #6c7a89;
    /* padding-right: 10px; */
    content: attr(data-label);
    /* flex-basis: 50%; */
    text-align: right;
    /* height: 0rem;*/
  }
}
